<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Knarksino</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="navbar">
    <div class="logo">
      <img src="/img/logo.png" alt="Logo">
      <span>Knarksino</span>
    </div>
    <div class="buttons">
      <button>Home</button>
      <button>Games</button>
      <button>Shop</button>
      <button>Login</button>
      <button>Logout</button>
    </div>
  </div>
</body>
</html>
