<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Knarksino</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="navbar">
    <div class="logo">
      <a href="http://localhost:3000">
        <img src="/img/logo.png" alt="Logo">
      </a>
    </div>
    <div class="buttons">
      <button>Account</button>
      <button>Login/Register</button>
      <button>Logout</button>
    </div>
  </div>

  <div class="main-content">
      <div class="avatar">
        <img src="/img/avatar.png" alt="Avatar">
       </div>
      <div class="user">
      <h2>Aroktyoe: $42069</h2>
      </div>
      </div>


    <div class="center clickable-frame" onclick="location.href='/inside'"></div>
<!--
    <div class="side right">
      <h2>Shop</h2>
      <ul class="shop-list">
        <li>💊Tram</li>
        <li>💉Heroin</li>
        <li>💊Promethazine</li>
        <li>🌿Weed</li>
        <li>💊Meth</li>
      </ul>
    </div>
    -->
  </div>

  <script src="/src/js.js"></script>
</body>
</html>
