<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inside - Knarksino</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/inside.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="inside-page">
  <div class="navbar">
    <div class="logo">
      <a href="http://localhost:3000">
        <img src="/img/logo.png" alt="Logo">
      </a>
    </div>
    <div class="buttons">
      <button>Account</button>
      <button>Login/Register</button>
      <button>Logout</button>
    </div>
  </div>

  <div class="inside-info">
    <h2>Aroktyoe: $4</h2>
    <!-- Casino Button -->
    <button onclick="window.location.href='/inside/casino'">Enter Casino</button>
    <button onclick="window.location.href='/inside/slot'">SlutMachine</button>
    <button onclick="window.location.href='/inside/blackjack'">Roulette</button>
  </div>

  <script src="/src/js.js"></script>
</body>
</html>
