<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Knarksino</title>
  <link rel="stylesheet" href="/css/outside.css">
</head>
<body>

<div class="garage-link" onclick="goToGarage()" title="Go to garage"></div>

<script src="/src/outside.js"></script>
</body>
</html>
